body {
    font-family: 'Montserrat', sans-serif;
}

h2,
h3,
p {
    margin: 0;
}
 
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}