@import './base/container-contacts';
@import './base/base';

@import './utils/mixins';
@import './utils/variables';
@import './utils/mixins-contacts';

@import './layot/about';
@import './layot/advantages';
@import './layot/contacts';
@import './layot/footer';
@import './layot/gallery';
@import './layot/reviews';
@import './layot/products';
@import './layot/header';
@import './layot/hero';

@import './layot/hero-modal';
@import './layot/products-modal';
@import './layot/location-modal';
@import './layot/franchise-modal';
@import './layot/read-more-modal';
@import './layot/mobile-menu';

@import './components/modal-close-btn';
@import './components/backdrop';
// @import './components/container-contacts';
