:root {
    --green-bg-color: #84A178;

    --green-products-bg-color: #9CBE8F;
    --yellow-products-bg-color: #EFD478;
    --orange-products-bg-color: #D6936D;

    --white-content-color: #FCFCFC;
    --black-content-color: #131313;
    --yellow-content-color: #F8D24E;
    
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}