:root {
    --green-bg-color: #84a178;

    --green-products-bg-color: #9cbe8f;
    --yellow-products-bg-color: #efd478;
    --orange-products-bg-color: #d6936d;

    --white-content-color: #fcfcfc;
    --black-content-color: #131313;
    --yellow-content-color: #f8d24e;

    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
