:root {
    --white-color: #fff;
    
    --green-bg-color: #84a178;

    --green-products-bg-color: #9cbe8f;
    --yellow-products-bg-color: #efd478;
    --orange-products-bg-color: #d6936d;

    --white-content-color: #fcfcfc;
    --black-content-color: #131313;
    --yellow-content-color: #f8d24e;
    --green-content-color: #0A8817;

    --contacts-border-color: #e1e1e1;
    --contacts-color-text-time: #ababab;
    --contacts-bg-card-color: #ffffff;

    --footer-copyright-color: #7A7A7A;
    --footer-copyright-border: #E1E1E1;

    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
