<section class="section">
    <div class="container gallery__container">
        <picture>
            <source
                srcset="
                    ./images/gallery-img1-desktop.jpg    1x,
                    ./images/gallery-img1-desktop@2x.jpg 2x
                "
                media="(min-width: 1200px)"
            />
            <source
                srcset="
                    ./images/gallery-img1-tablet.jpg    1x,
                    ./images/gallery-img1-tablet@2x.jpg 2x
                "
                media="(min-width: 768px)"
            />
            <source
                srcset="
                    ./images/gallery-img1-mobile.jpg    1x,
                    ./images/gallery-img1-mobile@2x.jpg 2x
                "
                media="(max-width: 767px)"
            />
            <img
                src="./images/gallery-img1-mobile.jpg"
                alt="ice cream composition"
            />
        </picture>
        <!-- <picture>
            <source
                srcset="
                    ./images/gallery-img2-desktop.jpg    1x,
                    ./images/gallery-img2-desktop@2x.jpg 2x
                "
                media="(min-width: 1200px)"
            /> -->
        <!-- <source
                srcset="
                    ./images/gallery-img2-tablet.jpg    1x,
                    ./images/gallery-img2-tablet@2x.jpg 2x
                "
                media="(min-width: 768px)"
            />
            <source
                srcset="
                    ./images/gallery-img2-mobile.jpg    1x,
                    ./images/gallery-img2-mobile@2x.jpg 2x
                "
                media="(max-width: 767px)"
            /> -->
        <img
            srcset="
                ./images/gallery-img2-desktop.jpg    1x,
                ./images/gallery-img2-desktop@2x.jpg 2x
            "
            src="./images/gallery-img2-desktop.jpg"
            alt="ice cream composition"
        />
        <!-- </picture> -->
        <!-- <picture>
            <source
                srcset="
                    ./images/gallery-img3-desktop.jpg    1x,
                    ./images/gallery-img3-desktop@2x.jpg 2x
                "
                media="(min-width: 1200px)"
            /> -->
        <!-- <source
                srcset="
                    ./images/gallery-img3-tablet.jpg    1x,
                    ./images/gallery-img3-tablet@2x.jpg 2x
                "
                media="(min-width: 768px)"
            />
            <source
                srcset="
                    ./images/gallery-img3-mobile.jpg    1x,
                    ./images/gallery-img3-mobile@2x.jpg 2x
                "
                media="(max-width: 767px)"
            /> -->
        <img
            srcset="
                ./images/gallery-img3-desktop.jpg    1x,
                ./images/gallery-img3-desktop@2x.jpg 2x
            "
            src="./images/gallery-img3-desktop.jpg"
            alt="ice cream composition"
        />
        <!-- </picture> -->
    </div>
</section>
