<header class="header">
  <div class="container">
    <svg class="icon-logo" width="60" height="65">
      <use href="../images/symbol-defs.svg#icon-logo"></use>
    </svg>
    <div class="menu-container" id="menu-container">
      <nav class="header-nav">
        <ul class="header-nav__list">
          <li class="header-nav__item">
            <a class="header-nav__link" href="#">Home</a>
          </li>
          <li class="header-nav__item">
            <a class="header-nav__link" href="#">How it’s made?</a>
          </li>
          <li class="header-nav__item">
            <a class="header-nav__link" href="#">Our products</a>
          </li>
          <li class="header-nav__item">
            <a class="header-nav__link" href="#">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
    <button
      class="menu-button"
      type="button"
      aria-label="Mobile menu button"
      aria-expanded="false"
      aria-controls="menu-container"
    >
      <svg width="32" heigth="32">
        <use
          class="menu-button__icon menu-button__icon--burger"
          href="../images/symbol-defs.svg#icon-burger"
        ></use>
        <use
          class="menu-button__icon menu-button__icon--close"
          href="../images/symbol-defs.svg#icon-close"
        ></use>
      </svg>
    </button>
    <button class="header__button">
      Buy now
      <svg width="12" height="12">
        <use
          class="header__button-icon"
          href="../images/symbol-defs.svg#icon-button-arrow"
        ></use>
      </svg>
    </button>
  </div>
</header>
