<section class="hero">
  <div class="hero__container">
    <h1 class="hero__title">
      ice cream made with
      <span class="hero__title_passion">passion</span>
    </h1>
    <ul class="hero__anchor-list">
      <li class="anchor-list__item">
        <a class="anchor-list__link anchor-list__link_products" href="#products"
          >Products</a
        >
      </li>
      <li class="anchor-list__item">
        <a class="anchor-list__link anchor-list__link_about" href="#about"
          >How it’s made?</a
        >
      </li>
    </ul>
    <p class="hero__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et
    </p>
    <span class="hero-ice-cream_bg"></span>
    <picture>
      <source
        media="(min-width: 1200px)"
        srcset="
          ./images/hero-ice-cream-desktop.png    1x,
          ./images/hero-ice-cream-desktop@2x.png 2x
        "
        type="image/png"
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./images/hero-ice-cream-tablet.png    1x,
          ./images/hero-ice-cream-tablet@2x.png 2x
        "
        type="image/png"
      />
      <source
        media="(max-width: 768px)"
        srcset="
          ./images/hero-ice-cream-mobile.png    1x,
          ./images/hero-ice-cream-mobile@2x.png 2x
        "
        type="image/png"
      />

      <img
        src="./images/hero-ice-cream-desktop.png"
        alt="ice cream picture"
        class="hero-ice-cream"
      />
    </picture>
    <picture>
      <source
        media="(min-width: 1200px)"
        srcset="
          ./images/hero-plate-desktop.png     1x,
          ./images/hero-plate-desktopt@2x.png 2x
        "
        type="image/png"
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./images/hero-plate-tablet.png    1x,
          ./images/hero-plate-tablet@2x.png 2x
        "
        type="image/png"
      />

      <img
        src="./images/hero-plate-desktop.png"
        alt="ice cream plate"
        class="hero-plate"
      />
    </picture>
    <picture>
      <source
        media="(min-width: 1200px)"
        srcset="
          ./images/hero-dots-desktop.png    1x,
          ./images/hero-dots-desktop@2x.png 2x
        "
        type="image/png"
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./images/hero-dots-tablet.png    1x,
          ./images/hero-dots-tablet@2x.png 2x
        "
        type="image/png"
      />
      <source
        media="(max-width: 768px)"
        srcset="
          ./images/hero-dots-mobile.png    1x,
          ./images/hero-dots-mobile@2x.png 2x
        "
        type="image/png"
      />

      <img
        src="./images/hero-dots-desktop.png"
        alt="dotted wave"
        class="hero-dots"
      />
    </picture>
    <ul class="hero-shop-list">
      <li class="hero-shop-list__item">
        <p class="hero-shop-list__number">16</p>
        <p class="hero-shop-list__desc">cafes</p>
      </li>
      <li class="hero-shop-list__item">
        <p class="hero-shop-list__number">23</p>
        <p class="hero-shop-list__desc">food trucks</p>
      </li>
    </ul>
  </div>
</section>
