<section class="mobile-menu js-menu-container" id="mobile-menu">
  <div class="mobile-menu__container">
    <a class="icon-logo" href="#">
      <img src="./images/logo.png" alt="Logo Ice-cream" />
    </a>
    <button
      class="mobile-menu__button--close js-close-menu"
      type="button"
      aria-label="Mobile menu button"
      aria-controls="mobile-menu"
    >
      <svg width="32" height="32">
        <use
          class="mobile-menu__icon mobile-menu__icon--close"
          href="./images/symbol-defs.svg#icon-close"
        ></use>
      </svg>
    </button>
  </div>
  <nav class="header-menu">
    <ul class="header-menu__list">
      <li class="header-menu__item">
        <a class="header-menu__link" href="#hero">Home</a>
      </li>
      <li class="header-menu__item">
        <a class="header-menu__link" href="#about">How it’s made?</a>
      </li>
      <li class="header-menu__item">
        <a class="header-menu__link" href="#products">Our products</a>
      </li>
      <li class="header-menu__item">
        <a class="header-menu__link" href="#contacts">Contact</a>
      </li>
    </ul>
  </nav>
  <button class="header__button">
    Buy now
    <svg width="12" height="12">
      <use class="header__icon" href="./images/symbol-defs.svg#icon-sign"></use>
    </svg>
  </button>
</section>
