<!-- <div products-modal class="backdrop is-hidden">
  <div class="modal-products">
    <button type="button" products-modal-close class="modal-close-btn">
      <svg width="20" height="20">
        <use href="./images/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <form class="modal-products-form">
      <h2 class="modal-products-form__text">Chololate icecream
            </h2>
      <ul class="modal-products-list">
        <li class="modal-products__item">
          <div>
           <p>320</p>
          </div>
            <p class="modal-products__item--text">Kcal
            </p>
        </li>
      <li class="modal-products__item">
        <div>
         <p>4g</p>
        </div>
         <p class="modal-products__item--text">Protein
         </p>
        </li>
      <li class="modal-products__item">
        <div>
         <p>8,2</p>
        </div>
        <p class="modal-products__item--text">Fats
          </p>
        </li>
      <li class="modal-products__item">
        <div>
          <p>40,4g
          </p>
        </div>
        <p class="modal-products__item--text">Carbs
          </p>
        </li>
      </ul>
       <h2>Ingredients</h2>
<ul>
    <li>Milk     100ml</li>
    <li>Belgian chocolate 20g</li>
    <li>Cream 150 ml</li>
    <li>Cocoa powder 30g</li>
    <li>Sugar 40g</li>
    <li>Vanilla sugar 10g</li>
</ul>

        <div class="modal-products-item"></div>
         <label class="modal-hero-form__label">
       <span class="modal-hero-form__wrapper">
        <input
            type="text"
            class="modal-products-input"
            name="name"
            pattern="[a-zA-Zа-яА-яІіЇї]+"
            minlength="3"
            placeholder="Name"
            required
          />
        </span>
      </label>
      <label class="modal-hero-form__label">
        <span class="modal-hero-form__wrapper">
          <input
            class="modal-products-input"
            type="tel"
            name="tel"
            placeholder="Fhone"
          />
        </span>
      </label>
      <label class="modal-hero-form__label">
        <textarea
          class="modal-products-input__textarea"
          name="comment"
          placeholder="Comment"
        ></textarea>
      </label>
      <button type="submit" class="button-modal-products">Submit</button>
    </form>
  </div>
</div> -->
