<p class="products__label">100% natural</p>
<h2 class="products__title">products</h2>
<ul class="products__list">
    <li class="products__item">
        <h3 class="products__name">ice cream</h3>
        <p class="products__deckription">Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural
            stabilizer </p>
        <button type="buttton"></button>
    </li>
    <li class="products__item">
        <h3 class="products__name">ice coffee</h3>
        <p class="products_deckription">Fragrant invigorating drink created from 100% natural ingredients without the
            use of preservatives and flavor enhancers </p>
        <button type="buttton"></button>
    </li>
    <li class="products__item">
        <h3 class="products__name">milkshakes</h3>
        <p class="products__deckription">Sweet drinks based on milk and ice cream, supplemented with syrups, fruits,
            berries and other sweets of your choice </p>
        <button type="buttton"></button>
    </li>
</ul>