<div product-modal class="backdrop is-hidden">
  <div class="modal-products">
    <button type="button" product-modal-open class="modal-close-btn">
      <svg width="20" height="20">
        <use href="./images/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <form class="modal-products-form">
      <h2 class="modal-products-form__text">Chololate icecream</h2>
      <div class="modal-products-form__item">
        <div class="modal-products__circle--green"></div>
      </div>
      <ul class="modal-products-list">
        <li class="modal-products__item">
          <div class="modal-products__list--vitamins">
            <p class="modal-products__list--text">320</p>
          </div>
          <p class="modal-products__item--text">Kcal</p>
        </li>
        <li class="modal-products__item">
          <div class="modal-products__list--vitamins">
            <p class="modal-products__list--text">4g</p>
          </div>
          <p class="modal-products__item--text">Protein</p>
        </li>
        <li class="modal-products__item">
          <div class="modal-products__list--vitamins">
            <p class="modal-products__list--text">8,2g</p>
          </div>
          <p class="modal-products__item--text">Fats</p>
        </li>
        <li class="modal-products__item">
          <div class="modal-products__list--vitamins">
            <p class="modal-products__list--text">40,4g</p>
          </div>
          <p class="modal-products__item--text">Carbs</p>
        </li>
      </ul>
      <p class="modal-products__text--item">Ingredients</p>
      <div class="modal-products__list--item">
        <p >Milk 100ml</p>
        <p>Belgian chocolate 20g</p>
        <p>Cream 150 ml</p>
        <p>Cocoa powder 30g</p>
        <p>Sugar 40g</p>
        <p>Vanilla sugar 10g</p>
      </div>
      <div class="modal-products-item">
        <label class="modal-product-form__label">
          <span class="modal-product-form__wrapper">
            <input
              type="text"
              class="modal-products-input"
              name="name"
              pattern="[a-zA-Zа-яА-яІіЇї]+"
              minlength="3"
              placeholder="Name"
              required
            />
          </span>
        </label>
        <label class="modal-product-form__label">
          <span class="modal-product-form__wrapper">
            <input
              class="modal-products-input"
              type="tel"
              name="tel"
              placeholder="Fhone"
            />
          </span>
        </label>
        <label class="modal-product-form__label">
          <textarea
            class="modal-products-input__textarea"
            name="comment"
            placeholder="Comment"
          ></textarea>
        </label>
      </div>
      <button type="submit" class="button-modal-products">Submit</button>
    </form>
  </div>
</div>
