<!-- <div class="backdrop is-hidden">
  <div class="modal-products">
    <button type="button" class="modal-close-btn">
      <svg width="20" height="20">
        <use href="./images/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <form class="modal-products-form">
      <p class="modal-products-form__text">Chololate icecream</p>

      <div class="modal-hero-item"></div>
      <label class="modal-form-field">
        <span class="modal-form-input-wrapper">
          <input
            type="text"
            class="modal-hero-input"
            name="name"
            pattern="[a-zA-Zа-яА-яІіЇї]+"
            minlength="3"
            placeholder="Name"
            required
          />
        </span>
      </label>
      <label class="modal-form-field">
        <span class="modal-form-input-wrapper">
          <input
            class="modal-hero-input"
            type="tel"
            name="tel"
            placeholder="Fhone"
          />
        </span>
      </label>
      <label class="modal-form-field">
        <textarea
          class="modal-hero-input__textarea"
          name="comment"
          placeholder="Comment"
        ></textarea>
      </label>
      <button type="submit" class="button-modal-hero">Submit</button>
    </form>
  </div>
</div> -->
