.modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #FCFCFC;
    border: 2px solid #F8D24E;
    border-radius: 10px;
}
