@mixin font($fs: 16px, $fw: inherit, $lh: 1.15, $ls: 0.04em) {
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh / $fs;
    letter-spacing: $ls;
}

.section__about {
    background-color: var(--green-bg-color);
    padding-top: 60px;
    padding-bottom: 42px;
}

.about__container {
    width: 100%;

    @media screen and (min-width: 320px) {
        width: 320px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 20px;
        padding-right: 20px;
    }
    @media screen and (min-width: 768px) {
        width: 704px;
        padding-left: 32px;
        padding-right: 32px;
    }
    @media screen and (min-width: 1200px) {
        width: 1200px;
        padding-left: 16px;
        padding-right: 16px;
    }
}

.section__label {
    @include font(18px, 700, 21px);

    text-align: center;
    text-transform: uppercase;
    color: var(--white-content-color);

    margin-bottom: 12px;
}

.section__title {
    display: block;
    margin-left: auto;
    margin-right: auto;

    font-family: "seymour one";

    @include font(30px, 400, 38px);

    text-align: center;
    text-transform: uppercase;
    color: var(--white-content-color);

    width: 200px;
    margin-bottom: 32px;
}

.about__content {
    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-basis: calc((100% - 32px) / 2);
        gap: 32px;
    }
}

.about__image-pad {
    position: relative;

    margin-left: auto;
    margin-right: auto;
    width: 278px;
    height: 278px;
    background-color: var(--yellow-content-color);
    border-radius: 50%;

    margin-bottom: 62px;

    @media screen and (min-width: 768px) {
        margin-left: 0;
        margin-right: 0;
        width: 334px;
        height: 330px;
    }
}

.about__picture {
    position: absolute;
    top: 22;
}

.about__description {
    width: 220px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4px;

    @include font(12px, 400, 21px);

    text-align: center;
    color: var(--white-content-color);

    @media screen and (min-width: 768px) {
        margin-left: 0;
        margin-right: 0;
        width: 334px;
    }
}

.about__main-text {
    width: 220px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

    @include font(12px, 400, 19px);

    text-align: center;
    color: var(--white-content-color);

    @media screen and (min-width: 768px) {
        margin-left: 0;
        margin-right: 0;
        width: 334px;
        margin-bottom: 8px;
    }
}

.about__main-text--tablet {
    display: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;

    @include font(12px, 400, 19px);

    text-align: center;
    color: var(--white-content-color);

    @media screen and (min-width: 768px) {
        display: block;
        margin-left: 0;
        margin-right: 0;
        width: 334px;
    }
}

.about__button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 164px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8d24e;
    border-radius: 10px;
    border: none;
    cursor: pointer;

    font-weight: 600;
    @include font(14px, 700, 18px);
    color: #131313;
    outline: none;

    &:hover,
    &:focus {
        background-color: #0a8817;
    }

    &:focus {
        color: #fcfcfc;
        fill: #fcfcfc;
    }
}

.about__icon {
    stroke: var(--black-content-color);
    margin-left: 5px;
}
