.section {
  background-color: var(--green-bg-color);
  padding-top: 60px;
}

.section__label {
// products__mobile
  // @include font(18px, 700, 0.81);
  text-align: center;
  text-transform: uppercase;

}
