.contacts {
  background-color: #84a178;
  padding-bottom: 40px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.contacts__item {
  background-color: #fcfcfc;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}

.contacts__text {
  display: inline-block;
  background-color: #f8d24e;
  border-radius: 4px;
  padding-left: 24px;
  padding-right: 24px;
  font-weight: 500;
  @include font-contacts(12px, 22px);
  letter-spacing: 0.04em;
  color: #131313;
  margin-bottom: 20px;
}

.address {
  margin-bottom: 48px;
  position: relative;
}

.address__text {
  font-style: normal;
  font-weight: 500;
  @include font-contacts(12px, 22px);
  letter-spacing: 0.04em;
  color: #131313;
  margin-bottom: 8px;
}

.address__link {
  font-style: normal;
  font-weight: 500;
  @include font-contacts(12px, 22px);
  letter-spacing: 0.04em;
  color: #d6936d;
  text-decoration: none;

  //   transition: text-decoration 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    text-decoration-line: underline;
  }

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    border: 1px solid #e1e1e1;
    background-color: #e1e1e1;
    left: 0;
    bottom: -24px;
  }
}

.work-list {
  margin-bottom: 48px;
  position: relative;
}

.work-list__item:not(:last-child) {
  margin-bottom: 8px;
}

.work-list__day {
  font-weight: 500;
  @include font-contacts(12px, 22px);
  color: #131313;
}

.work-list__time {
  font-weight: 500;
  @include font-contacts(12px, 22px);
  color: #ababab;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    border: 1px solid #e1e1e1;
    background-color: #e1e1e1;
    left: 0;
    bottom: -24px;
  }
}

.contacts-page__info {
  font-weight: 500;
  @include font-contacts(12px, 18px);
  color: #131313;
  text-decoration: none;
}

.contacts-btn-list__button-locations {
  width: 196px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8d24e;
  border-radius: 10px;
  border: none;
  cursor: pointer;

  font-weight: 600;
  @include font-contacts(14px, 18px);
  color: #131313;
  outline: none;

  &:hover,
  &:focus {
    background-color: #0a8817;
  }

  &:focus {
    color: #fcfcfc;
    fill: #fcfcfc;
  }
}

.contacts-btn-list__button-franchise {
  width: 196px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 2px solid #f8d24e;
  border-radius: 10px;
  cursor: pointer;

  font-weight: 600;
  @include font-contacts(14px, 18px);
  color: #131313;
  outline: none;

  &:hover,
  &:focus {
    border: 2px solid #0a8817;
  }

  &:focus {
    color: #fcfcfc;
    fill: #fcfcfc;
  }
}

.contacts-btn-list__icon {
  margin-left: 6px;
}

@media screen and (max-width: 767px) {
  .contacts__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 32px;
  }

  .contacts__item {
    padding: 40px 32px;
  }

  .contacts-btn-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
  }

  .contacts-btn-list__button-locations,
  .contacts-btn-list__button-franchise {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .contacts__list {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    margin-bottom: 60px;
  }

  .contacts__item {
    width: 224px;
    padding: 40px 24px;
    flex-basis: calc((100% - 32px) / 3);
  }

  .contacts__text {
    padding-left: 13px;
    padding-right: 13px;
    font-weight: 500;
    @include font-contacts(16px, 30px);
    margin-bottom: 32px;
  }

  .address {
    margin-bottom: 64px;
  }

  .address__text {
    @include font-contacts(14px, 26px);
    margin-bottom: 12px;
  }

  .address__link {
    @include font-contacts(14px, 26px);

    &::after {
      bottom: -32px;
    }
  }

  .work-list {
    margin-bottom: 64px;
  }

  .work-list__item:not(:last-child) {
    margin-bottom: 12px;
  }

  .work-list__day {
    @include font-contacts(14px, 26px);
  }

  .work-list__time {
    @include font-contacts(14px, 26px);

    &::after {
      bottom: -32px;
    }
  }

  .contacts-page__info {
    @include font-contacts(14px, 24px);
  }

  .contacts-btn-list {
    display: flex;
    justify-content: center;
    gap: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    padding-bottom: 120px;
  }

  .contacts__list {
    gap: 32px;
    margin-bottom: 64px;
  }

  .contacts__item {
    width: 368px;
    padding: 40px 40px;
    background-color: #ffffff;
    flex-basis: calc((100% - 64px) / 3);
  }

  .address__text {
    @include font-contacts(16px, 30px);
    margin-bottom: 8px;
  }

  .address__link {
    @include font-contacts(16px, 30px);
  }

  .work-list__day {
    @include font-contacts(16px, 30px);
  }

  .work-list__time {
    @include font-contacts(16px, 30px);
  }

  .contacts-page__info {
    @include font-contacts(16px, 30px);
  }
}