
.franchise-modal__container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 568px;
    
    padding: 32px 60px;
    background-color: #FCFCFC;
    border: 2px solid #F8D24E;
    border-radius: 10px;
}


.title{
    display: block;
    font-family: Seymour One;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    color: #131313;
    max-width: 322px;
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
}
.franchise-modal__text{
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    color: #131313;
    margin-bottom: 32px;
}

.franchise-modal-form{
    display: flex;
    flex-direction: column;
    max-width: 368px;
    margin-left: auto;
    margin-right: auto;
}

.franchise-modal-form__input{
    width: 100%;
    height: 42px;
    border: 1px solid rgba(132, 161, 120, 1);
    border-radius: 10px;
    color: rgba(19, 19, 19, 1);
    background-color: rgba(248, 210, 78, 0.1);
    padding: 11px 16px;

    margin-bottom: 16px;

    &::placeholder {
            color: rgba(19, 19, 19, 0.5);
        }
   
}
.frachise-modal-form__textarea{
    width: 100%;
    height: 84px;
    border: 1px solid rgba(132, 161, 120, 1);
    border-radius: 10px;
    background-color: rgba(248, 210, 78, 0.1);
    padding: 11px 16px;
    
    resize: none;
    margin-bottom: 32px;
    
     &::placeholder{
        color: rgba(19, 19, 19, 0.5);
     }

   
}
.modal-form__button{
    padding: 12px 34px;
    background-color: #F8D24E;
    border-radius: 10px ;
    text-align: center;
}