// .container {
//   width: 100%;
//   margin-right: auto;
//   margin-left: auto;
// }
// .backdrop {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   z-index: 10;
//   opacity: 1;
//   visibility: visible;
//   pointer-events: auto;
// }
// .modal-hero {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   width: 100%;
//   padding: 32px 40px;
//   background: #fcfcfc;
//   border: 2px solid #f8d24e;
//   border-radius: 10px;
// }
// .modal-close-btn {
//   position: absolute;
//   top: 20px;
//   right: 20px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   width: 30px;
//   height: 30px;
//   border-radius: 50%;
//   border: #fcfcfc;
//   background-color: transparent;
//   padding: 0;
//   cursor: pointer;
//   transition-duration: var(--timing-function), fill var(--timing-function);
// }
// .modal-hero-list {
//   display: flex;
//   flex-wrap: wrap;
//   gap: 32px;
//   font-family: 'Montserrat';
//   font-style: normal;
//   font-weight: 700;
//   font-size: 16px;
//   line-height: 20px;
//   text-align: center;
//   letter-spacing: 0.04em;
//   text-transform: uppercase;
//   color: #131313;
// }
// .modal-hero-form__button {
//   font-family: 'Montserrat';
//   font-style: normal;
//   font-weight: 600;
//   font-size: 14px;
//   line-height: 17px;
//   display: flex;
//   align-items: center;
//   text-align: center;
//   color: #131313;
// }
// @media screen and (max-width: 480px) {
//   .modal-hero-list {
//     align-items: center;
//     display: flex;
//     flex-direction: column;
//     gap: 84px;
//   }
//   .modal-hero {
//     padding: 28px 28px;
//   }
// }
// @media screen and (min-width: 480px) {
//   .container {
//     width: 577px;
//     margin-right: auto;
//     margin-left: auto;
//   }
//   .modal-hero {
//     padding: 28px 5px;
//   }
//   .modal-hero-form__label--bloc {
//     max-width: 368px;
//   }
// }
// .modal-hero-form {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }
// .modal-hero-form__title {
//   margin-bottom: 103px;
//   font-family: 'Seymour One';
//   font-style: normal;
//   font-weight: 400;
//   font-size: 20px;
//   line-height: 28px;
//   align-items: center;
//   text-align: center;
//   color: var(--black-content-color);
// }

// .modal-hero-form__ice-cream {
//   position: relative;
//   width: 132px;
//   height: 135px;
//   padding-top: 95px;
//   padding-bottom: 20px;
//   border: 2px solid #96af8c;
//   filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
//   border-radius: 15.7808px;
// }

// .modal-hero-form__ice-coffee {
//   position: relative;
//   width: 132px;
//   height: 135px;
//   padding-top: 95px;
//   padding-bottom: 20px;
//   background: #efd478;
//   border: 2px solid #efd478;
//   box-shadow: 0px 5.26027px 19.726px rgba(212, 20, 67, 0.1);
//   border-radius: 15.7808px;
// }
// .modal-hero-form__ice-milkshakes {
//   position: relative;
//   width: 132px;
//   height: 135px;
//   padding-top: 95px;
//   padding-bottom: 20px;
//   border: 2px solid #d6936d;
//   filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
//   border-radius: 15.7808px;
// }

// .modal-hero-form__img--green {
//   position: absolute;
//   width: 130px;
//   height: 130.6px;
//   left: 0;
//   top: -50%;
//   z-index: 2;
//   border-radius: 50%;
// }

// .modal-hero__circle--green {
//   position: absolute;
//   width: 130px;
//   height: 130.6px;
//   left: 0;
//   top: -50%;
//   z-index: 2;
//   border-radius: 50%;
//   background: linear-gradient(
//       0deg,
//       rgba(156, 190, 143, 0.7),
//       rgba(156, 190, 143, 0.7)
//     ),
//     #d9d9d9;
//   box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
// }

// .modal-hero-form__circle--yellow {
//   position: absolute;
//   width: 130px;
//   height: 130.6px;
//   left: 0;
//   top: -50%;
//   z-index: 2;
//   border-radius: 50%;
//   background: linear-gradient(
//       0deg,
//       rgba(248, 210, 78, 0.7),
//       rgba(248, 210, 78, 0.7)
//     ),
//     #d9d9d9;
//   box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
// }

// .modal-hero-form__circle--red {
//   position: absolute;
//   width: 130px;
//   height: 130.6px;
//   left: 0;
//   top: -50%;
//   z-index: 2;
//   border-radius: 50%;
//   background: linear-gradient(
//       0deg,
//       rgba(213, 117, 63, 0.7),
//       rgba(213, 117, 63, 0.7)
//     ),
//     #d9d9d9;
//   box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
// }

// .modal-hero-form__textarea {
//   height: 84px;
//   padding: 11px 16px;
//   margin-bottom: 32px;
//   width: 100%;
//   background-color: rgba(248, 210, 78, 0.1);
//   border: 1px solid #84a178;
//   border-radius: 10px;
//   font-family: 'Montserrat';
//   font-style: normal;
//   font-weight: 400;
//   font-size: 14px;
//   color: #131313;
// }
// .modal-hero-item {
//   margin-bottom: 40px;
// }
// .modal-hero-form__input {
//   padding: 11px 16px;
//   margin-bottom: 16px;
//   width: 100%;
//   background-color: rgba(248, 210, 78, 0.1);
//   border: 1px solid #84a178;
//   border-radius: 10px;
//   font-family: 'Montserrat';
//   font-style: normal;
//   font-weight: 400;
//   font-size: 14px;
//   color: #131313;
// }

// @media screen and (min-width: 768px) {
//   .modal-hero {
//     max-width: 568px;
//   }
// }
