//  ======================= mom animation  =======================

@media screen and (min-width: 321px) and (max-width: 479px) {

  .hero-ice-mom {
    display: none;
  }

  .hero-ice-son {
    display: none;
  }

  .hero-ice-dad {
    display: none;
  }
}

.hero-ice-mom {
  position: absolute;
  z-index: 1250;
  animation-name: mom-animation;

  @media screen and (min-width: 320px) and (max-width: 479px) {
    top: 320px;
    right: 78px;
    animation-duration: 1000ms;
  }

  @media screen and (min-width: 480px) and (max-width: 767px) {
    top: 320px;
    right: 188px;
    animation-duration: 1000ms;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    top: 140px;
    right: 90px;
    animation-duration: 1150ms;
  }

  @media screen and (min-width: 1200px) {
    top: 225px;
    right: 90px;
    animation-duration: 4150ms;
  }

}
@media screen and (min-width: 320px) and (max-width: 479px) {

  @keyframes mom-animation {

    0% {
      top: 0px;
      right: 78px;
    }

    90% {
      top: 350px;
      right: 78px;
    }

    100% {
      top: 320px;
      right: 78px;
    }
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {

  @keyframes mom-animation {

    0% {
      top: 0px;
      right: 188px;
    }

    90% {
      top: 350px;
      right: 188px;
    }

    100% {
      top: 320px;
      right: 188px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {

  @keyframes mom-animation {

    0% {
      top: 140px;
      right: 450px;
    }

    100% {
      top: 140px;
      right: 90px;
    }
  }
}

@media screen and (min-width: 1200px) {

  @keyframes mom-animation {

    0% {
      top: 0px;
      right: 590px;
    }

    50% {
      top: 360px;
      right: 290px;
    }

    100% {
      top: 225px;
      right: 90px;
    }
  }
}

//  ======================= mom animation  =======================
//  ======================= son animation  =======================

.hero-ice-son {
  line-height: 0;
  position: absolute;
  z-index: 2300;
  animation-name: son-animation;

  @media screen and (min-width: 320px) and (max-width: 479px) {
    top: 290px;
    right: 148px;
    animation-duration: 1000ms;
  }

  @media screen and (min-width: 480px) and (max-width: 767px) {
    top: 290px;
    right: 258px;
    animation-duration: 950ms;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    top: 90px;
    left: 450px;
    animation-duration: 1000ms;
  }

  @media screen and (min-width: 1200px) {
    top: 140px;
    left: 725px;
    animation-duration: 4150ms;
  }

}

@media screen and (min-width: 320px) and (max-width: 479px) {

  @keyframes son-animation {

    0% {
      top: 0px;
      right: 148px;
    }

    90% {
      top: 310px;
      right: 148px;
    }

    100% {
      top: 290px;
      right: 148px;
    }
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {

  @keyframes son-animation {

    0% {
      top: 0px;
      right: 258px;
    }

    90% {
      top: 310px;
      right: 258px;
    }

    100% {
      top: 290px;
      right: 258px;
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {

  @keyframes son-animation {

    0% {
      top: 90px;
      left: 180px;
    }

    100% {
      top: 90px;
      left: 450px;
    }
  }
}
@media screen and (min-width: 1200px) {

  @keyframes son-animation {

    0% {
      top: 0px;
      left: 0px;
    }

    50% {
      top: 420px;
      left: 390px;
    }

    100% {
      top: 140px;
      left: 725px;
    }
  }
}
//  ======================= /son animation  =======================
//  ======================= dad animation  =======================

.hero-ice-dad {
  position: absolute;
  z-index: 2400;
  animation-name: dad-animation;

  @media screen and (min-width: 320px) and (max-width: 479px) {
    top: 250px;
    right: 88px;
    animation-duration: 900ms;
  }

  @media screen and (min-width: 480px) and (max-width: 767px) {
    top: 250px;
    right: 198px;
    animation-duration: 900ms;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    top: 30px;
    left: 530px;
    animation-duration: 900ms;
  }

  @media screen and (min-width: 1200px) {
    bottom: 370px;
    right: 100px;
    animation-duration: 3750ms;
  }

}

@media screen and (min-width: 320px) and (max-width: 479px) {

  @keyframes dad-animation {

    0% {
      top: 0px;
      right: 88px;
    }

    90% {
      top: 270px;
      right: 88px;
    }

    100% {
      top: 250px;
      right: 88px;
    }
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {

  @keyframes dad-animation {

    0% {
      top: 0px;
      right: 198px;
    }

    90% {
      top: 270px;
      right: 198px;
    }

    100% {
      top: 250px;
      right: 198px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {

  @keyframes dad-animation {
    0% {
      top: 30px;
      left: 200px;
    }

    100% {
      top: 30px;
      left: 530px;
    }
  }
}

@media screen and (min-width: 1200px) {

  @keyframes dad-animation {

    0% {
      bottom: 0px;
      right: 1050px;
    }
    33% {
      bottom: 370px;
      right: 650px;
    }
    66% {
      bottom: 0px;
      right: 550px;
    }

    100% {
      bottom: 370px;
      right: 100px;
    }
  }
}

// ============= /dad animation =============
// ============= прячу не нужное до 767px =============
@media screen and (max-width: 767px) {

  .hero-plate {
    display: none;
  }

  .hero__text {
    display: none;
  }

  .hero-arrow-button {
    display: none;
  }
  
  .hero-shop-list {
    display: none;
  }

}
// ============= /прячу не нужное до 767px =============

.hero {
  background-color: var(--green-bg-color);
  margin-left: auto;
  margin-right: auto;
}

.hero__container {
  position: relative;
  max-width: 480px;
  width: 100%;
  height: 453px;
  padding-left: 20px;
  padding-top: 61px;

  @media screen and (min-width: 480px) {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
    height: 349px;
    padding-top: 0;
    padding-left: 32px;
    padding-right: 32px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200;
    height: 591px;
    padding-left: 16px;
    padding-right: 16px;
  }

}

.anchor-list__link_products {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 13px;
  padding-left: 11px;
  color: var(--black-color);
  border: 2px solid var(--yellow-content-color);
  border-radius: 8px;
  cursor: pointer;

  @media screen and (min-width: 1200px) {
    padding: 12px 34px;
  }
}

// ============= title =============
.hero__title {
  font-family: 'Seymour One';
  display: block;
  font-style: normal;
  width: 247px;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.26;
  text-transform: uppercase;
  color: var(--white-content-color);
  margin-bottom: 32px;
  margin-top: 0;

  @media screen and (min-width: 768px) {
    width: 181px;
    font-size: 18px;
    padding-top: 40px;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1200px) {
    width: 367px;
    font-size: 36px;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 45px;
    left: 16px;
    z-index: 550;
  }

}

.hero__title_passion {
  font-size: 34px;

  @media screen and (min-width: 768px) {
    font-size: 24px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 38px;
  }

}
// ============= /title =============

// ============= anchor-list =============
.hero__anchor-list {
  display: flex;
  gap: 8px;

  @media screen and (min-width: 1200px) {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 217px;
    left: 16px;
    z-index: 555;
  }

}

.anchor-list__link {

  text-align: center;
  font-family: inherit;
  font-weight: 600;
  font-size: 8px;
  line-height: 1.25;
  text-decoration: none;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
}

.anchor-list__link_products {
  color: var(--black-content-color);

  &:hover {
    color: var(--black-content-color);
    text-decoration: none;
  }

  &:focus {
    color: var(--white-content-color);
    text-decoration: none;
  }
}

.anchor-list__link_about {
  padding: 7px 10px;
  text-decoration-line: underline;
  color: var(--yellow-content-color);
  cursor: pointer;
  transition: color var(--transition-dur-and-func-btns);

  @media screen and (min-width: 1200px) {
    padding: 12px 21px;
  }

  &:hover {
    color: var(--green-content-color);
  }

  &:focus {
    color: var(--white-content-color);
  }
}

// ============= /anchor-list =============

// ============= hero-ice-cream =============
.hero-ice-cream {
  position: absolute;
  display: block;
  z-index: 300;

  @media screen and (min-width: 320px) and (max-width: 479px) {
    top: 245px;
    left: 28%;
  }

  @media screen and (min-width: 480px) {
    top: 245px;
    left: 136px;
  }

  @media screen and (min-width: 768px) {
    top: 25px;
    left: 418px;
  }

  @media screen and (min-width: 1200px) {
    top: 30px;
    left: 651px;
  }
}
.hero-ice-cream_bg {
  width: 167px;
  height: 218px;
  position: absolute;
  display: block;
  z-index: 280;
  background: rgba(252, 252, 252, 0.44);
  filter: blur(26.8405px);

  @media screen and (min-width: 320px) and (max-width: 479px) {
    top: 242px;
    left: 28%;
  }

  @media screen and (min-width: 480px) {
    top: 242px;
    left: 136px;
  }

  @media screen and (min-width: 768px) {
    width: 266px;
    height: 341px;
    top: 25px;
    left: 418px;
    filter: blur(27.9859px);
  }

  @media screen and (min-width: 1200px) {
    width: 477px;
    height: 590px;
    top: 27px;
    left: 651px;
    filter: blur(60px);
  }

}

// ============= /hero-ice-cream =============

// ============= hero-dots =============
.hero-dots {
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  z-index: 0;

  @media screen and (max-width: 767px) {
    max-width: 480px;
    width: 100%;
  }
}
// ============= /hero-dots =============
// ============= hero-plate =============
.hero-plate {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    position: absolute;
    bottom: 13px;
    left: 32px;
    z-index: 100;
  }

  @media screen and (min-width: 1200px) {
    bottom: 65px;
    left: 17px;
  }
}
// ============= /hero-plate =============

// ============= shop-list =============
.hero-shop-list {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    position: absolute;
    top: 28px;
    right: 32px;
  }

  @media screen and (min-width: 1200px) {
    top: 56px;
    right: 16px;
  }

}
.hero-shop-list__item {
  margin-bottom: 34px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 16px;
  }
}

.hero-shop-list__number {
  font-weight: 900;
  font-size: 28px;
  line-height: 1.21;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--black-content-color);

  @media screen and (min-width: 1200px) {
    font-size: 46px;
  }
}

.hero-shop-list__desc {
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  text-align: right;
  color: var(--white-content-color);

  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
}

// ============= shop-list =============

.hero__text {
  @media screen and (min-width: 768px) {
    display: block;
    position: absolute;
    z-index: 10;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    width: 151px;
    top: 214px;
    left: 217px;
    color: var(--white-content-color);
    opacity: 65%;
  }

  @media screen and (min-width: 1200px) {
    width: 200px;
    font-size: 14px;
    top: 368px;
    left: 256px;
  }

  &::after {

    @media screen and (min-width: 768px) {
      position: absolute;
      content: '';
      display: block;
      width: 45px;
      height: 20px;
      background-image: url(../images/hero-arrow.png);
      background-repeat: no-repeat;
      bottom: -30px;
    }

    @media screen and (min-width: 1200px) {
      bottom: -45px;
    }
  }
}
