// common

// .container {
//   width: 100%;
//   padding-left: 16px;
//   padding-right: 16px;
// }
// @media screen and (min-width: 480px) {
//   .container {
//     width: 480px;
//     margin-right: auto;
//     margin-left: auto;
//   }
// }

// @media screen and (min-width: 768px) {
//   .container {
//     width: 768px;
//   }
// }

// @media screen and (min-width: 1200px) {
//   .container {
//     width: 1200px;
//   }
// }
// common
