// common
// new data
.section {
  padding-top: 60px;
}

.container {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: auto;
  margin-left: auto;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
// common

.products__btn {
  background-color: transparent;
  border: none;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: -11px;
}
.products__section {
  border: none;
  background-image: url('../images/ice-cream-bg2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.products__label {
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.22;

  margin-bottom: 12px;

  color: var(--black-content-color);
}
.products__title {
  font-family: Seymour One;
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  line-height: 1.26;
  letter-spacing: 00.04em;

  margin-bottom: 148px;

  color: var(--black-content-color);
}

.products__item {
  display: flex;
  flex-direction: column;

  position: relative;

  padding: 123px 40px 20px;
  margin: auto;
  border-radius: 24px;
  padding-top: 123px;
  margin-bottom: 164px;
}
.products__item--green {
  background-color: #aec6a5;
}
.products__item--yellow {
  background-color: #efd478;
}

.products__item--brown {
  background-color: #d6936d;
}

.products__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  margin-bottom: 40px;

  &::before {
    content: '';
    display: block;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }
}

.products__card-wrapper {
  position: relative;
}
.products__circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  top: 12px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
}

.products__circle--green {
  background: linear-gradient(0deg, #9cbe8fb3, #9cbe8fb3), #d9d9d9;
  box-shadow: 0 5.34219px 20.0332px #0a881740;
}
.products__circle--yellow {
  background: linear-gradient(
      0deg,
      rgba(248, 210, 78, 0.7),
      rgba(248, 210, 78, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
}
.products__circle--brown {
  background: linear-gradient(
      0deg,
      rgba(213, 117, 63, 0.7),
      rgba(213, 117, 63, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
}

.products__description {
  // margin-bottom: 90px;
  font-size: 14px;
  line-height: 1.78;

  text-align: center;
  letter-spacing: 0.04em;
}
.products__item {
  width: 280px;
  height: 420px;
}

.products__name.cream::before {
  background-image: url('../images/products-ice-cream-mobile.png');
  background-size: cover;
  background-position: center;
}
.products__name.coffee::before {
  background-image: url('../images/products-ice-coffee-mobile.png');
  background-size: cover;
  background-position: center;
}
.products__name.milkshake::before {
  background-image: url('../images/products-milkshake-mobile.png');
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 480px;
    margin-right: auto;
    margin-left: auto;
  }

  .products__item {
    height: 428px;
    width: 224px;
  }
  .products__name {
    margin-bottom: 34px;
  }

  .products__description {
    margin-bottom: 108px;
  }
}

// ретина
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .products__name.cream::before {
    background-image: url('../images/products-ice-cream-mobile@2x.png');
  }
  .products__name.coffee::before {
    background-image: url('../images/products-ice-coffee-mobile@2x.png');
  }
  .products__name.milkshake::before {
    background-image: url('../images/products-milkshake-mobile@2x.png');
  }
}
// ретина

@media screen and (min-width: 480px) and (max-width: 767px) {
  .products__description {
    margin-bottom: 0;
  }
}

// tablet
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .products__label {
    font-size: 22px;
  }
  .products__title {
    font-size: 34px;
    margin-bottom: 200px;
  }
  .products__name {
    font-size: 22px;
    margin-top: 19px;
  }

  .products__circle {
    width: 199px;
    height: 196px;
  }
  .products__item {
    // width: calc((100% - 32px) / 3);
    width: 224px;
    height: 428px;
    padding: 108px 26px 20px;
    margin-bottom: 82px;
  }
  .products__list {
    display: flex;
    column-gap: 16px;
  }
  .products__description {
    margin-bottom: 0px;
  }
  .products__name::before {
    width: 199px;
    height: 196px;
  }

  .products__name.cream::before {
    background-image: url('../images/products-ice-cream-tablet.png');
  }
  .products__name.coffee::before {
    background-image: url('../images/products-ice-coffee-tablet.png');
  }
  .products__name.milkshake::before {
    background-image: url('../images/products-milkshake-tablet.png');
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .products__name.cream::before {
      background-image: url('../images/products-ice-cream-tablet@2x.png');
      background-size: cover;
      background-position: center;
    }
    .products__name.coffee::before {
      background-image: url('../images/products-ice-coffee-tablet@2x.png');
      background-size: cover;
      background-position: center;
    }
    .products__name.milkshake::before {
      background-image: url('../images/products-milkshake-tablet@2x.png');
      background-size: cover;
      background-position: center;
    }
    // tablet
  }

  @media screen and (min-width: 1200px) {
    .container {
      width: 1200px;
    }

    .products__label {
      font-size: 30px;
      line-height: 1.23;
      letter-spacing: 0.06em;
    }

    .products__title {
      font-size: 36px;
      margin-bottom: 303px;
    }

    .products__name {
      font-size: 30px;
    }
    .products__description {
      font-size: 16px;
      line-height: 1.75;
    }
    .products__name.cream::before {
      background-image: url('../images/products-ice-cream-desktop.png');
      background-size: cover;
      background-position: center;
    }
    .products__name.coffee::before {
      background-image: url('../images/products-ice-coffee-desktop.png');
      background-size: cover;
      background-position: center;
    }
    .products__name.milkshake::before {
      background-image: url('../images/products-milkshake-desktop.png');
      background-size: cover;
      background-position: center;
    }
    .products__circle {
      width: 300px;
      height: 300px;
    }
    // ретина
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .products__name.cream::before {
        background-image: url('../images/products-ice-cream-desktop@2x.png');
        background-size: cover;
        background-position: center;
      }
      .products__name.coffee::before {
        background-image: url('../images/products-ice-coffee-desktop@2x.png');
        background-size: cover;
        background-position: center;
      }
      .products__name.milkshake::before {
        background-image: url('../images/products-milkshake-desktop@2x.png');
        background-size: cover;
        background-position: center;
      }
    }
    // ретина
    .container {
      width: 1200px;
      padding-left: 13px;
      padding-right: 13px;
    }
    .products__item {
      // width: calc((100% - 64px) / 3);
      width: 370px;
      height: 535px;
      padding: 165px 63px 60px;
      margin-bottom: 57px;
    }
    .products__list {
      display: flex;
      column-gap: 32px;
    }
    .products__name {
      margin-top: 32px;
      font-size: 30px;
    }

    .products__name::before {
      width: 300px;
      height: 300px;
    }
  }
}
